html, body, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/ash.jpg");
}
.header {
  background: rebeccapurple;
  padding: 10px auto;
}


footer {
  position: fixed;
  background-color: rebeccapurple;
  text-align: center;
}